{% extends '@HnSw/Backend/layout.html.twig' %}

{% block content %}
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">属性列表</div>
                        </div>
                        <div class="widget-body am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" class="am-btn am-btn-default am-btn-success">
                                                <span class="am-icon-plus"></span>
                                                <a href="{{ path('backend_goods_type_property_new') }}" style="color: white">新增</a>
                                            </button>
                                            <button type="button" class="am-btn am-btn-default am-btn-secondary">
                                                <span class="am-icon-arrow-left"></span>
                                                <a href="{{ path('backend_goods_type_index') }}" style="color: white">返回</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">

                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>属性名称</th>
                                        <th>属性类别</th>
                                        <th>属性值</th>
                                        <th class="am-text-center">操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr class="gradeX">
                                        <td>1</td>
                                        <td>Amaze UI 模式窗口</td>
                                        <td>属性</td>
                                        <td>2016-09-26</td>
                                        <td class="am-text-center">
                                            <div class="tpl-table-black-operation">
                                                <a href="javascript:;">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </a>

                                                <a href="javascript:;" class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>

                            {#------------分页-------------------#}
                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li class="am-disabled"><a href="#">«</a></li>
                                        <li class="am-active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('.hn-goods-type').addClass('active');
        $('.hn-goods-type-nav').css('display','block');
    </script>
{% endblock %}